
# See https://github.com/subosito/flutter-action

name:  JRPN16 Build
run-name: ${{ github.actor }} JRPN16 Build
on: 
    workflow_dispatch:          # Manually

    # push:
    #     branches: [master]
    #     paths-ignore:
    #         - '**/README.md'

jobs:
    macos-build:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v4
            - uses: subosito/flutter-action@v2
              with:
                  channel: 'stable'
                  architecture: x64
                  # flutter:version: '3.0.0'
            - run: flutter pub get
            - run: flutter config --enable-macos-desktop
#           - run: flutter config --enable-ios
            - run: flutter build macos --release
            - run: cd build/macos/Build/Products/Release/ ; zip --symlinks -r jrpn16_macos_x64.app.zip "JRPN 16c.app"
            - uses: actions/upload-artifact@v3
              with:
                name:  jrpn16_macos_x64
                path:  build/macos/Build/Products/Release/jrpn16_macos_x64.app.zip
#           - run: flutter clean
#           - run: flutter build ios --release --no-codesign
#           - run: cd build/ios/iphoneos ; zip -r --symlinks jrpn16_ios.app.zip Runner.app
#           - uses: actions/upload-artifact@v3
#             with:
#               name:  jrpn16_ios
#               path:  build/ios/iphoneos/jrpn16_ios.app.zip

    apk-and-linux-build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-java@v4
              with:
                distribution: 'zulu'
                java-version: '11'
            - uses: subosito/flutter-action@v2
              with:
                  channel: 'stable'
                  # flutter:version: '3.0.0'
            - run: flutter pub get
            - run: flutter build apk
            - run: mv build/app/outputs/apk/release/app-release.apk build/app/outputs/apk/release/jrpn16_android_app-release.apk
            - uses: actions/upload-artifact@v3
              with:
                name:  jrpn16_android_apk
                path:  build/app/outputs/apk/release/jrpn16_android_app-release.apk
            - run: |
                sudo apt-get update -y
                sudo apt-get install -y ninja-build libgtk-3-dev
            - run: flutter config --enable-linux-desktop
            - run: flutter build linux
            - run: |
                cd build/linux/x64/release
                mv bundle jrpn16
                zip -r --symlinks jrpn16_linux.zip jrpn16
            - uses: actions/upload-artifact@v3
              with:
                name:  jrpn16_linux_bundle
                path:  build/linux/x64/release/jrpn16_linux.zip

    msix-build:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
            - uses: subosito/flutter-action@v2
              with:
                  channel: 'stable'
                  # flutter:version: '3.0.0'
            - run: flutter config --enable-windows-desktop
            - run: flutter build windows
            - run: dart run msix:create
            - run: mv build/windows/x64/runner/Release/jrpn16_build.msix build/windows/x64/runner/Release/jrpn16_windows_build.msix
            - uses: actions/upload-artifact@v3
              with:
                name:  jrpn16_windows_build
                path:  build/windows/x64/runner/Release/jrpn16_windows_build.msix
